.container-deletedTask {
    gap: 1rem;
}
@media screen and (min-width: 320px) {
    .container-deletedTask {
        grid-template-columns: 1fr;
    }
}
@media screen and (min-width: 768px) {
    .container-deletedTask {
        grid-template-columns: repeat(2, 1fr);
    }
}
@media screen and (min-width: 1024px) {
    .container-deletedTask {
        grid-template-columns: repeat(3, 1fr);
    }
}