.section-login {
    width: 100%;
    height: 100vh;
    display: grid;
    place-content: center;
}
.form-login {
    border: 1px solid #00ffff;
    box-shadow: 0 0 50px 0 #00a6bc;
    height: 50vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    margin: .5rem;
}
.section-title {
    font-size: 1.2rem;
    font-weight: 700;
    margin-block: .5rem;
}
.box-input {
    position: relative;
    width: 230px;
    border-bottom: 2px solid #eeefff;
    outline: none;
}
.box-input input {
    width: 100%;
    font-size: 1rem;
    padding: 4px 0;
    border: none;
}
.box-input input:focus {
    outline: none;
}
.icon-form, .icon-form-unlock {
    position: absolute;
    top: 4px;
    right: 12px;
}
.hidden {
    display: none;
}
.btn {
    width: 140px;
    padding: .5rem;
    border-radius: .4rem;
    background: linear-gradient(45deg, rgba(0, 238, 255, 0.534), #c800ff8f);
    border: none;
    font-size: 1rem;
    cursor: pointer;
   transition: all .4s;
}
.btn:hover {
    background: linear-gradient(105deg, #0ef, #c800ff);
}
.form-footer {
   width: 70%;
}